#back{
    background-image: url("images/bg.png")
}
.top{
    text-align:center;
    background:rgb(186, 220, 17);
}

.id{
    float:right;
    border:2px solid rgb(255, 254, 254);         <!--necessary to give "solid" before color name?-->
}

.photo{
    float:left;
    margin-left:3%;
    height:350px;
    width:18%;
    border:1px solid rgb(0, 0, 0);               <!--necessary to give "solid" before color name?-->
}


.name{
    margin-left:4%;
    height:80px;
    width:18%;
}

.summary{
    float:left;
    width:75%;
    margin-left:2%;  
}

.border{
    border:2px solid black;
}

.soft{
    text-align:center;
    background:orangered;
}

.softlist{
    color:rgb(0, 0, 0);
    font-size:25px;

}

.tech{
    background:rgb(0, 255, 234);
    text-align:center;
}


#container{
    display:inline-block
}


.hobbies{
    background: rgb(0, 106, 255);
    text-align:center;
}

.hblist{
    color:rgb(0, 0, 0);
    font-size:25px;
}

.map{
    background:rgb(152, 93, 240);
    text-align:center;
}